#
# File system configuration
#
mainmenu "JAMMCI"

config CROSS_COMPILE
	string "Cross-compiler tool prefix"

menu "Board selection"


choice BOARD
	prompt "Board"
	default BOARD_AFC

config BOARD_AFC
        bool "AMC FMC CARRIER"
	select FMC_COUNT_2
        ---help---
        Select this option to use the format that corresponds to your GCC
        version.

config BOARD_MATPEX
        bool "MATPEX"
	select MCU_ATXMEGA128A1U
	select ARCH_ATXMEGA
        ---help---
        Select this option to use the format that corresponds to your GCC
        version.

config BOARD_CUSTOM
        bool "Custom board"
        ---help---
        Select this option to use the format that corresponds to your GCC
        version.

endchoice



if BOARD_AFC

config BOARD_AFC_V2
	def_bool n

config BOARD_AFC_V3
	def_bool n

config BOARD_AFC_V3_1
	def_bool n

config BOARD_AFCK
	def_bool n


config BOARD_FIXED_AFC_V2
        bool "AMC FMC CARRIER V2"
	depends on (DRIVER_HAL_BOARDAUTODETECT && BOARD_AFC)
	select BOARD_AFC_V2
        ---help---
        Select this option to use the format that corresponds to your GCC
        version.

config BOARD_FIXED_AFC_V3
        bool "AMC FMC CARRIER V3"
	depends on (DRIVER_HAL_BOARDAUTODETECT && BOARD_AFC)
	select BOARD_AFC_V3
        ---help---
        Select this option to use the format that corresponds to your GCC
        version.

config BOARD_FIXED_AFC_V3_1
        bool "AMC FMC CARRIER v3.1"
	depends on (DRIVER_HAL_BOARDAUTODETECT && BOARD_AFC)
	select BOARD_AFC_V3_1
	---help---
	Select this option to use the format that corresponds to your GCC
	version.

config BOARD_FIXED_AFCK
        bool "AMC FMC CARRIER KINTEX"
	depends on (DRIVER_HAL_BOARDAUTODETECT && BOARD_AFC)
	select BOARD_AFCK
        ---help---
        Select this option to use the format that corresponds to your GCC
        version.


if (DRIVER_HAL_BOARDAUTODETECT=n && BOARD_AFC)

choice  
	prompt "Fixed support"

config BOARD_AUTODETECT_AFC_V2
        bool "AMC FMC CARRIER V2"
	select BOARD_AFC_V2
        ---help---
        Select this option to use the format that corresponds to your GCC
        version.

config BOARD_AUTODETECT_AFC_V3
        bool "AMC FMC CARRIER V3"
	select BOARD_AFC_V3
        ---help---
        Select this option to use the format that corresponds to your GCC
        version.

config BOARD_AUTODETECT_AFC_V3_1
        bool "AMC FMC CARRIER v3.1"
	select BOARD_AFC_V3_1
        ---help---
        Select this option to use the format that corresponds to your GCC
        version.

config BOARD_AUTODETECT_AFCK
        bool "AMC FMC CARRIER KINTEX"
	select BOARD_AFCK
        ---help---
        Select this option to use the format that corresponds to your GCC
        version.

endchoice

endif

choice
        prompt "AFC Implementation"
        default BOARD_AFC_LPC

config BOARD_AFC_ATMEL
        bool "ATMEL implementation"
	select ARCH_ATXMEGA
	select MCU_ATXMEGA128A1U
        help
          The original ARC ISA of ARC600/700 cores

config BOARD_AFC_LPC
        bool "LPC implementation"
	select CPU_CORTEX_M3
	select MCU_LPC1764
        help
          ISA for the Next Generation ARC-HS cores

endchoice

endif


#endmenu

choice
	prompt "Microcontroler selection"
	default MCU_LPC1764 if BOARD_AFC_LPC
	default MCU_ATXMEGA128A1U if BOARD_MATPEX
	default MCU_ATXMEGA128A1U if BOARD_AFC_ATMEL

config MCU_LPC1769
	bool "LPC1769"
	depends on (BOARD_CUSTOM || BOARD_AFC_LPC)
	select MCU_LPC176X

config MCU_LPC1764
	bool "LPC1764"
	depends on (BOARD_CUSTOM || BOARD_AFC_LPC)
	select MCU_LPC176X

config MCU_ATXMEGA128A1U
	bool "ATxmega 128A1U"
	depends on (BOARD_CUSTOM || BOARD_AFC_ATMEL || BOARD_MATPEX)
	select ARCH_ATXMEGA

endchoice

config MCU_LPC176X
	def_bool n
	select CPU_CORTEX_M3

config CPU_ATXMEGA
	def_bool n
	select CPU_CORTEX_M3

config ARCH_ATXMEGA
	def_bool n
	
comment "Interconnections"

choice
	depends on BOARD_CUSTOM
	prompt "Custom fmc count"

config FMC_COUNT_CUSTOM_0
	bool "0"
	select FMC_COUNT_0

config FMC_COUNT_CUSTOM_1
	bool "1"
	select FMC_COUNT_1

config FMC_COUNT_CUSTOM_2
	bool "2"
	select FMC_COUNT_2

endchoice

config FMC_COUNT_0
	bool
	default true if FMC_COUNT_CUSTOM=0

config FMC_COUNT_1
	bool
	default true if FMC_COUNT_CUSTOM=1

config FMC_COUNT_2
	bool
	default true if FMC_COUNT_CUSTOM=2


config FMC_COUNT
	int
	default 2 if FMC_COUNT_2
	default 1 if FMC_COUNT_1
	default 0 if FMC_COUNT_0

if (FMC_COUNT > 0)
comment "FMC0"

config FMC0_USERCONFIG
	bool "Overite default FMC0 parameters"

config FMC0_VADJ_MIN
	depends on FMC0_USERCONFIG
	int "Minimal VADJ voltage"
	default 1800

config FMC0_VADJ_MAX
	depends on FMC0_USERCONFIG
	int "Maximal VADJ voltage"
	default 3300
endif

if (FMC_COUNT > 1)
comment "FMC1"

config FMC1_USERCONFIG
	bool "Overite default FMC0 parameters"

config FMC1_VADJ_MIN
	depends on FMC1_USERCONFIG
	int "Minimal VADJ voltage"

config FMC1_VADJ_MAX
	depends on FMC1_USERCONFIG
	int "Maximal VADJ voltage"

endif

endmenu


config CPU_CORTEX_M3
	def_bool n
	select ARCH_ARMV7_M

config ARCH_ARMV7_M
	def_bool n


config ARCH
	string
	default "armv7-m" if ARCH_ARMV7_M
	default "atxmega" if ARCH_ATXMEGA

config CPU
	string
	default "cortex-m3" if CPU_CORTEX_M3
	default "atxmega" if ARCH_ATXMEGA

config MCU
	string
	default "lpc1764" if MCU_LPC1764
	default "atxmega128a1u" if MCU_ATXMEGA128A1U


config FREERTOS
	bool "Use Freertos core"

choice
	prompt "Project type"

config PROJECT_EMMC
	select IPMI_IPMB
	bool "EMMC"

config PROJECT_MCH
	bool "MCH"

config PROJECT_STANDALONE
	bool "Standalone"

endchoice


config IPMI_IPMB
	bool "IPMB layer for IPMI"


source drivers/Kconfig

menu "Project"

source project/Kconfig

endmenu
